tmp/
components/
managed_components/
build/
.vscode/
.devcontainer/
releases/
.log/
__pycache__/
.cursor/rules/
sdkconfig.old
sdkconfig
dependencies.lock
.env
main/assets/lang_config.h
.DS_Store
allinone.txt
.cursor/rules/superman.mdc
.cache